--find-links https://download.pytorch.org/whl/cpu/torch_stable.html

Flask==3.1.0
gunicorn==23.0.0
numpy==1.26.4
Pillow==11.2.1
arabic-reshaper==3.0.0
python-bidi==0.6.6
opencv-python-headless==4.11.0.86

# OCR & YOLO
paddleocr==2.10.0
paddlepaddle==2.6.2
torch==2.6.0+cpu
torchvision==0.21.0+cpu
ultralytics==8.3.90
